*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
justify-content: space-around;
background-color: beige;
height: 55px;
}
h1{
    margin-top: 15px;
    margin-right: 200px;
}
a{
    margin-top: 15px;
}
button{
    width: 100px;
    height: 40px;
    margin-top: 5px;
    font-size: medium;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}
button:hover{
    background-color: gray;
}
.container{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.content-h1{
margin-left: 70px;
margin-top: 135px;
}
h4{
    margin-left: 70px;
}
.content-button{
    margin-left: 70px;
}
.img{
    width: 500px;
    margin-top: 110px;
    margin-left: 305px;
}
.container-1{
    display: flex;
    justify-content: space-around;
    height: 400px;
    /* border: 1px solid; */
    background-color: antiquewhite;

}
.card-1{
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 400px;
    text-align: center;
 box-shadow: 2px 2px;

}
.card-img{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
h3{
    margin-top: 75px;
}